body{
    background: white;
    margin:0;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
ol, ul{
    margin:0;
    padding:0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1{ 
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    margin-left: 40px;
}

h1 strong {
    color: #026fff;
}
h2{
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #026fff;
    font-size: 35px;
    margin-bottom: 55px;
}
.header{
    background-color: #026fff;
    margin:0;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
}
.menu{
    height: inherit;
}
.header ul{
    margin:0;
    display:flex;
    height: inherit;
}

.menu_item{
    height: inherit;
}
.menu_link{
    font-weight: bold;
    color: white;
    text-decoration: none;
    height: inherit;
    display:flex;
    align-items: center;
    padding: 0 50px;
}
.logo{
    margin:0 30px;
}
.sec_principal{
    height: 300px;
    background-color: #1d252c;
    background-image: url('../img/imagen_principal_banner.jpg');
    background-size: 750px 417px;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
}
.sec_portfolio{
 background-color: #fafafa;
 padding: 25px;
}

.project{
 border:1px solid gray;
 border-radius: 10px; 
 margin-bottom: 15px;
 padding: 40px 30px;
 background-color: white;
 display: flex;
 flex-flow: row wrap;
 justify-content: space-around;
 align-items: center;
}
.project strong{
 font-weight: bold;
}
.project_details{
    width: 600px;
    text-align: justify;
}
.project_name{
  font-size: 40px;
  margin: 5px 0;   
}
.project_tec, .project_date, .project_ref{
  margin: 10px 0;
}

.project_imageContainer{
    width: 650px;
}
.project_image{
    width: 100%;
}
.sec_eventos{
    padding: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.sec_eventos h2{
    display: block;
    width: 100%;
}

.event{
    width: 600px;
    margin: 10px 60px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #f4fbff;
}
.event_imageContainer{
    width: 600px;
    margin: 0;
}
.event_image{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event_details{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin:20px 40px;
    margin-top: -40px;
    position: relative;
    padding: 20px;
    background-color: white;
    text-align: center;
}
.event_desc{
    text-align: left;
}

.event_button{
    border: 2px solid #026fff;
    border-radius: 5px;
    height: 55px;
    width: 250px; 
    background-color: white;
    overflow: hidden;
    padding: 0;
}

.event_link{
    color: #026fff;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    padding: 40px 90px;
    background-color: white;
}

.sec_contacto{
    background-color: #026fff;
    padding: 50px 100px;
    height: 200px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.sec_contacto h2{
    color:white;
    margin:0;
    display: block;
    width: 100%;
    text-align: left;
}
.form_email{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
}
.email{
    width: 350px;
    height: 40px;
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 20px 5px 50px;
    background-image: url(../img/envelop.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position-y:center;
    background-position-x:15px;
    font-size: 20px;
}

.enviar_email{
    width: 200px;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
    background: transparent ;
    color: white;
    font-size: 20px;
}
.social_networks{
    display: flex;
    align-items: center;
}
.social_link{
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0 30px;
  background-size: 80px 80px;
}

.social_link.twitter{
    background-image: url('../img/twitter.svg');
    background-repeat: no-repeat;
}

.social_link.facebook{
    background-image: url('../img/facebook.svg');
    background-repeat: no-repeat;
}

.social_link.github{
    background-image: url('../img/github.svg');
    background-repeat: no-repeat;
}

.social_link.instagram{
    background-image: url('../img/instagram.svg');
    background-repeat: no-repeat;
}
.footer{
    background-color: #1d252c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    padding: 0 50px;
    color: white;
    font-size: 25px;
}
.footer a{
    color: #026fff;
}

