body{
    background: white;
    margin:0;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
ol, ul{
    margin:0;
    padding:0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1{ 
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
}

h1 strong {
    color: #026fff;
}

.header{
    background-color: #026fff;
    margin:0;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
}
.menu{
    height: inherit;
}
.header ul{
    margin:0;
    display:flex;
    height: inherit;
}

.menu_item{
    height: inherit;
}
.menu_link{
    font-weight: bold;
    color: white;
    text-decoration: none;
    height: inherit;
    display:flex;
    align-items: center;
    padding: 0 50px;
}
.logo{
    margin:0 30px;
}
.sec_principal{
    height: 300px;
    background-color: #1d252c;
    background-image: url('../img/imagen_principal_banner.jpg');
    background-size: 750px 417px;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
}
.sec_portfolio{
 background-color: #fafafa;
}
.project{
 border:1px solid gray;
 border-radius: 10px; 
 margin:10px;
 margin-bottom: 15px;
 padding: 50px;
 background-color: white;
}
.project_details{
    width: 500px;
}
.project_imageContainer{
    width: 500px;
}
.project_image{
    width: 500px;
}

.footer{
    background-color: #1d252c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 0 50px;
    color: white;
    font-size: 25px;
}
.footer a{
    color: #026fff;
}

