body{
    background: white;
    margin:0;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    width: 100%;
}
ol, ul{
    margin:0;
    padding:0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1{ 
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    margin-left: 20px;
}

h1 strong {
    color: #026fff;
}
h2{
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #026fff;
    font-size: 35px;
    margin-bottom: 55px;
}

/**********************CSS MENÚ******************/
.header{
    width: auto;
    flex: 1;
    background-color: #026fff;
    margin:0;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.logo{
    margin:0 30px;
}
.menu{
    height: inherit;
}
.header ul{
    margin:0;
    display:flex;
    flex-wrap: wrap;
    height: inherit;
}

.menu_item{
    height: inherit;
}
.menu_link{
    font-weight: bold;
    color: white;
    text-decoration: none;
    height: inherit;
    display:flex;
    align-items: center;
    padding: 0 50px;
}

/*****************FIN CSS MENÚ******************/

/********CSS SECCIÓN PRINCIPAL******************/
.sec_principal{
    width: auto;
    background-color: #1d252c;
    /* background-image: url('../img/imagen_principal_banner.jpg');
    background-size: 750px 417px;
    background-repeat: no-repeat;
    background-position: right; */
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-shrink: 0; */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

  .sec_principal h1 {
    font-size:70px;
    margin-left: 150px;
} 


.img_principal{
    width: 500px;
    height: 300px;
    object-fit: cover;
}

/***********FIN CSS SECCIÓN PRINCIPAL******************/

/***********CSS SECCIÓN PORTFOLIO******************/
.sec_portfolio{
 width: auto;
 background-color: #fafafa;
 padding: 25px;
}

.project{
 border:1px whitesmoke rgb(187, 179, 179);
 border-radius: 10px; 
 margin-bottom: 15px;
 padding: 40px 30px;
 background-color: white;
 display: flex;
 flex-flow: row wrap;
 justify-content: space-around;
 align-items: center;
 box-shadow: 3px 5px 33px #d3d2d2;
}
.project strong{
 font-weight: bold;
}
.project_details{
    width: 600px;
    text-align: justify;
}
.project_name{
  font-size: 40px;
  margin: 5px 0;   
}
.project_tec, .project_date, .project_ref{
  margin: 10px 0;
}

.project_imageContainer{
    margin: 0 10px;
    width: 650px;
}
.project_image{
    width: 100%;
}
/***********FIN CSS SECCIÓN PORTFOLIO******************/

.sec_eventos{
    padding: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: auto;
}
.sec_eventos h2{
    display: block;
    width: 100%;
}

.event{
    width: 40%;
    max-width: 750px;
    margin: 10px 20px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #f4fbff;
}
.event_imageContainer{
    width: 100%;
    margin: 0;
}
.event_image{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event_details{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin:20px 40px;
    margin-top: -40px;
    position: relative;
    padding: 20px;
    background-color: white;
    text-align: center;
}
.event_desc{
    text-align: left;
}

.event_button{
    border: 2px solid #026fff;
    border-radius: 5px;
    height: 55px;
    width: 250px;
    background-color: white;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
}

.event_link{
    color: #026fff;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    padding: 40px 90px;
    background-color: white;
}

.sec_contacto{
    width: auto;
    background-color: #026fff;
    padding: 50px 100px;
    height: 200px;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.sec_contacto h2{
    color:white;
    margin:0;
    display: block;
    text-align: left;
}
.form_email{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.email{
    width: 350px;
    height: 40px;
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 20px 5px 50px;
    background-image: url(../img/envelop.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position-y:center;
    background-position-x:15px;
    font-size: 20px;
}

.enviar_email{
    width: 200px;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
    background: transparent ;
    color: white;
    font-size: 20px;
}
.social_networks{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.social_pair{
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    justify-content: space-evenly;
}
.social_link{
  width: 80px;
  height: 80px;
  margin: 20px 30px;
  background-size: 80px 80px;
}

.social_link.twitter{
    background-image: url('../img/twitter.svg');
    background-repeat: no-repeat;
}

.social_link.facebook{
    background-image: url('../img/facebook.svg');
    background-repeat: no-repeat;
}

.social_link.github{
    background-image: url('../img/github.svg');
    background-repeat: no-repeat;
}

.social_link.instagram{
    background-image: url('../img/instagram.svg');
    background-repeat: no-repeat;
}
.footer{
    width: auto;
    background-color: #1d252c;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    padding: 0 50px;
    color: white;
    font-size: 25px;
}
.footer a{
    color: #026fff;
}

/* `Desktop First  */

@media screen and (max-width: 1400px) {
    .sec_principal h1 {
        font-size: 60px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 1140px) {
    .menu_link {
        padding: 0px 38px;
    }
    .sec_principal h1 {
        font-size: 70px;
    }

    .sec_principal img {
        width: 40%;
        object-position: right;
    }

    .sec_principal{
        height: 30vh;
        justify-content: center;
        text-align: center;
    }
    .sec_principal h1 {
        margin: 0;
        position: relative;
    }
    .sec_principal img {
        position: absolute;
        z-index: -999;
    }

}

@media screen and (max-width: 1023px) {
    .header{
        display: block;
        height:auto;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    .menu ul{
        justify-content: center;
    }
    .menu_link {
        padding: 20px 15px;
    }
    .event_link{
        padding: 0;
    }
    .sec_contacto{
        padding: 50px 20px;
    }
    
}

@media screen and (max-width: 768px){
 
    .menu ul{
        display: block;
    }

    .menu_link{
        justify-content: center;
    }
 
    .event{
        max-width: 500px;
        width: 100%;
        margin: 10px;
    }
    .event_details{
        margin: 0;
        margin: 20px 40px;
        margin-top: -40px;
    }

    .event_button{
   
        width: 270px; 
        padding: 0;
    }
    .sec_contacto{
        height: auto;
        flex-direction: column;
        align-items: center;
        height: 90vh;
    }

    .social_networks{
        width: 100%;
    }
    .form_email{
        height: 40%;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .form_email h2 {
        text-align: center;
    }

    .sec_principal h1 {
        font-size: 50px;
    }
}
@media screen and (max-width: 480px){
    .event_details{
        margin: 0;
    }

    .email{
        width: 70%;
    }
    .sec_principal h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 320px){
    .project_name {
        font-size: 28px;
    }

    .event_button{
   
        width: 100%; 
        padding: 0;
    }

    .email{
        width: 70%;
    }
    
    .contacto, .credits{
        font-size: 25px;
        text-align: center;
    }

    .sec_principal h1{
        font-size: 30px;
    }

    .footer{
        padding: 20px ;
    }

}
